<div id="<%= dom_id marathon %>">
  <div>
    <strong>Name:</strong>
    <%= marathon.name %>
  </div>

  <div>
    <strong>Entry start:</strong>
    <%= marathon.entry_start %>
  </div>

  <div>
    <strong>Entry end:</strong>
    <%= marathon.entry_end %>
  </div>

  <div>
    <% unless marathon.open? %>
      <span style="color: red;">지원이 마감되었습니다.</span>
    <% end %>
  </div>
</div>
